{% extends "auth_base.html" %}
{% block title %}修改密码{% endblock %}
{% block box %}
<div class="register-box">
    <div class="register-logo">
        <a href="{% url 'index' %}"><b>Big</b>Bro</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">密 码 修 改</p>

            <form method="post">{% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.old_password.errors }}
                    {{ form.old_password }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>



                <div class="social-auth-links text-center">
                    <input type="submit" value='确定修改密码' class="btn btn-primary btn-block">
                </div>
            </form>


            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>
{% endblock %}