{% extends "index_base_sidebar.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "select2/css/select2.min.css" %}">
<link rel="stylesheet" href="{% static "select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
{% endblock %}
{% block cards %}
{% load filter %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">代办流程</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                流程名称
                            </th>
                            <th style="width: 20%">
                                下一步人员
                            </th>
                            <th style="width: 21%">
                                流程进度
                            </th>
                            <th style="width: 18%">
                                创建日期
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    {% if myflows %}
                    {% for i in myflows %}
                    <tbody>
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <a>
                                    <b>{{ i.name|slice:"22:" }}</b>
                                </a>
                                <br />
                                <small>
                                    {{ i.name|slice:":22" }}
                                </small>
                            </td>
                            <td>
                                <span>{{ i.flow|split:i.step }}</span>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar" aria-volumenow="0"
                                        aria-volumemin="0" aria-volumemax="100" style="width: {{ i.flow|per:i.step }}%">
                                    </div>
                                </div>
                                <small>
                                    {{ i.flow|per2:i.step }}
                                </small>
                            </td>
                            <td>
                                <span>{{ i.created_time }}</span>
                            </td>
                            <td class="project-actions text-right">
                                <button class="btn btn-info btn-sm" onclick="jsOpenModal{{ forloop.counter }}()">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    编辑
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% endif %}
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">周报</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 10%">
                                日期
                            </th>
                            <th style="width: 10%">
                                地点
                            </th>
                            <th style="width: 18%">
                                工作内容
                            </th>
                            <th style="width: 8%">
                                车船费
                            </th>
                            <th style="width: 8%">
                                住宿费
                            </th>
                            <th style="width: 8%">
                                打的费
                            </th>
                            <th style="width: 8%">
                                餐费
                            </th>
                            <th style="width: 8%">
                                租车费
                            </th>
                            <th style="width: 8%">
                                合计
                            </th>
                            <th style="width: 10%">
                            </th>
                        </tr>
                    </thead>
                    {% for i in object_list %}
                    {% if i.flows.step == 99 or i.flows.id == 1 %}
                    <tbody>
                        <tr>
                            <td>
                                {{ i.travel_date|date:"Y/m/d" }}
                            </td>
                            <td>
                                {{ i.location }}
                            </td>
                            <td>
                                {{ i.work|dot }}
                            </td>
                            <td>
                                {{ i.trans_cost }}
                            </td>
                            <td>
                                {{ i.hotel_cost }}
                            </td>
                            <td>
                                {{ i.local_trans_cost }}
                            </td>
                            <td>
                                {{ i.meat_cost }}
                            </td>
                            <td>
                                {{ i.local_car_cost }}
                            </td>
                            <td>
                                {{ i|sum }}
                            </td>
                            <td class="project-actions text-right">
                                <button class="btn btn-info btn-sm" onclick="jsOpenDetailModal{{ forloop.counter }}()">
                                    <i class="fas fa-newspaper">
                                    </i>
                                    详情
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if page_obj %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number != i %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% if myflows %}
{% for qs in flows_costs_list %}
<div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card-header">
                <h5 class="modal-title" id="myModalLabel2">
                    <b>流程</b>
                </h5>
            </div>
            <div class="modal-body">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="flow_id" value="{{ qs.0.flows.id }}">
                    {% if qs.0.flows.step == 0 %}
                    <input type="hidden" name="flow_commit" value="{{ qs.0.flows.step }}">
                    {% endif %}
                    {% for i in qs %}
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="type" class="control-label">日期</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input type="text" name="date {{ forloop.counter }}" class="form-control" id="type"
                                    value="{{ i.travel_date|date:"Y-m-d" }}" readonly>
                                {% else %}
                                <input type="text" name="date {{ forloop.counter }}" class="form-control" id="type"
                                    value="{{ i.travel_date|date:"Y-m-d" }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="style" class="control-label">地点</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <select name="location {{ forloop.counter }}" class="form-control select2bs4"
                                    style="width: 100%;" value="重庆">
                                    <option selected="selected">重庆</option>
                                    {% for i in locations %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.location }}" disabled>
                                {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">工作内容</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="work {{ forloop.counter }}" type="text" class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.work }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">车船费</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="trans_cost {{ forloop.counter }}" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.trans_cost }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">住宿费</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="hotel_cost {{ forloop.counter }}" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.hotel_cost }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">打的费</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="local_trans_cost {{ forloop.counter }}" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.local_trans_cost }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">餐费</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="meat_cost {{ forloop.counter }}" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.meat_cost }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">租车费</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="local_car_cost {{ forloop.counter }}" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.local_car_cost }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                {% if forloop.counter == 1 %}
                                <label for="content" class="control-label">其他费</label>
                                {% endif %}
                                {% if i.flows.step == 0 %}
                                <input name="other_cost_1 {{ forloop.counter }}" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content">
                                {% else %}
                                <input type="text" class="form-control" id="type" value="{{ i.other_cost_1 }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <!-- <input type="reset" class="btn btn-primary"> -->

                <input value="提交流程" type="submit" class="btn btn-primary">

            </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endfor %}
{% endif %}
{% if object_list %}
{% for i in object_list %}
<div class="modal fade" id="myDetailModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myDetailModalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card-header">
                <h5 class="modal-title" id="myModalLabel2">
                    <b>流程</b>
                </h5>
            </div>
            <div class="modal-body">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="temp_flow" value="ture">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="type" class="control-label">日期</label>
                                <input type="text" name="date" class="form-control" id="type"
                                    value="{{ i.travel_date|date:"Y-m-d" }}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="style" class="control-label">地点</label>
                                <select name="location" class="form-control select2bs4"
                                    style="width: 100%;" value="{{ i.location }}">
                                    <option selected="selected">重庆</option>
                                    {% for i in locations %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="content" class="control-label">工作内容</label>
                                <input name="work" type="text" class="form-control" id="content" value="{{ i.work }}">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="content" class="control-label">车船费</label>
                                <input name="trans_cost" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content" value="{{ i.trans_cost }}">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="content" class="control-label">住宿费</label>
                                <input name="hotel_cost" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content" value="{{ i.hotel_cost }}">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="content" class="control-label">打的费</label>
                                <input name="local_trans_cost" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content" value="{{ i.local_trans_cost }}">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="content" class="control-label">餐费</label>
                                <input name="meat_cost" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content" value="{{ i.meat_cost }}">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="content" class="control-label">租车费</label>
                                <input name="local_car_cost" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content" value="{{ i.local_car_cost }}">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="content" class="control-label">其他费</label>
                                <input name="other_cost_1" type="text"
                                    onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                                    class="form-control" id="content" value="{{ i.other_cost_1 }}">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <!-- <input type="reset" class="btn btn-primary"> -->

                <input value="提交流程" type="submit" class="btn btn-primary">

            </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% block script %}
<script src="{% static "select2/js/select2.full.min.js" %}"></script>

<script type='text/javascript'>
    {% if myflows %}
    {% for i in myflows %}
    function jsOpenModal{{ forloop.counter }}() {
        $('#myModal{{ forloop.counter }}').modal('toggle');//手动切换模态框。   还有一个modal('hide')	手动隐藏模态框。
    }
    {% endfor %}
    {% endif %}

    {% for i in object_list %}
    function jsOpenDetailModal{{ forloop.counter }}() {
        $('#myDetailModal{{ forloop.counter }}').modal('toggle');//手动切换模态框。   还有一个modal('hide')	手动隐藏模态框。
    }
    {% endfor %}
</script>

<script type='text/javascript'>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

    })
</script>
{% endblock %}